/* src/styles/heroSection.css */

.hero-section {
  /* position: relative; */
  /* overflow: hidden; Ensure content stays within bounds */
  /* height: 100vh; Ensure full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0., 0, 0.5), rgba(255, 0, 0, 0.25)), url('/backgroun.jpg');
  background-position: center;
  background-size: cover;
  /* background: linear-gradient(to right, black 70%, #c12f2f 30%); Black to Red Gradient */
}

/* Custom Border Design with a curved bottom border */
.custom-border {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0 0 50% 50%; /* Rounded bottom corners */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Full height for border */
  z-index: 0; /* Keep it behind the text */
}

/* Animation for the top-left corner element */
/* .animated-top-left {
  animation: topLeftAnimation 5s infinite alternate;
}

@keyframes topLeftAnimation {
  0% {
    transform: translate(60px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(50px, 30px); 
    opacity: 0.7;
  }
  100% {
    transform: translate(60px, 0);
    opacity: 1;
  }
} */

/* Animation for the bottom-right corner element */
/* .animated-bottom-right {
  animation: bottomRightAnimation 5s infinite alternate; 
}

@keyframes bottomRightAnimation {
  0% {
    transform: translate(60px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-40px, 30px); 
    opacity: 0.7;
  }
  100% {
    transform: translate(60px, 0);
    opacity: 1;
  }
} */

/* Disable Animations on Small Screens */
@media screen and (max-width: 640px) {
  /* Disable animations for small screens */
  .animated-top-left,
  .animated-bottom-right {
    animation: none; /* Disable animations on small screens */
  }

  .text-center h1 {
    font-size: 2rem; /* Smaller font size on mobile */
  }

  .text-center p {
    font-size: 1rem; /* Smaller paragraph on mobile */
  }
}

/* Additional Responsive Styles */
@media screen and (max-width: 768px) {
  .hero-section {
    height: 80vh; /* Slightly smaller hero section height on tablets */
  }

  /* .animated-top-left {
    top: 10px;
    left: 10px;
  }

  .animated-bottom-right {
    bottom: 10px;
    right: 10px;
  } */

  .text-center h1 {
    font-size: 2.5rem; /* Adjust font size on tablets */
  }

  .text-center p {
    font-size: 1.25rem; /* Adjust paragraph font size on tablets */
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    height: 100vh; /* Full height for larger screens */
  }

  /* .animated-top-left {
    top: 20px;
    left: 20px;
  }

  .animated-bottom-right {
    bottom: 20px;
    right: 20px;
  } */

  .text-center h1 {
    font-size: 3rem; /* Larger font size on larger screens */
  }

  .text-center p {
    font-size: 1.5rem; /* Larger paragraph font size */
  }
}
